<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="xzx">XZxXZXX</div>
    <script>
// axios.get('http://localhost:3000/api/v2/company/getSubIndustryCodeList?industryCode=0',{
//    headers:{'loginToken':'adc7ef974c7441e9bc2dbd382d78918e'}
// }).then(res=>{
//     console.log(res);
// })
$.ajax('http://localhost:3000/api/v2/company/getSubIndustryCodeList?industryCode=0',{
  type:'get', headers:{'loginToken':'adc7ef974c7441e9bc2dbd382d78918e'}
}).then(res=>{console.log(res);
})
$.ajax('http://localhost:3000/opd',{
  type:'get',data:{ url:'asasassasasasasasurL'},headers:{'loginToken':'adc7ef974c7441e9bc2dbd382d78918e'}
},).then(res=>{console.log(res);
})
    </script>
</body>

</html>